/*      main.css      */

* { margin: 0; padding: 0; }


/**   Header Styling   **/
header {
  width:100%;
  background-color:#85bb65;
  color:white;
  height:100px;
  margin-bottom:45px;
  text-align:center;
  font-family:sans-serif;
  font-family:MONOPOLY_INLINE;
}
h1 {
  line-height:100px;
  font-size:3em;
}

/**   Content Styling  **/
main {
  width:90%;
  margin:auto;
  display:grid;
  grid-column-start:1;
  grid-column-end:4;
  grid-template-columns: 345px 555px 345px;
  grid-template-rows: auto;
  grid-template-areas:"chatArea boardWrapper controlPanel";
  grid-column-gap: 25px;
}

@font-face {
  font-family: MONOPOLY_INLINE;
  src: url(MONOPOLY_INLINE.ttf);
}

/**  ChatArea Styling  **/

.chatArea {
  width:100%;
  border:1px solid black;
  font-family:MONOPOLY_INLINE;
}

.chatArea h2 {
  width:100%;
  background-color:#85bb65;
  color:white;
}

#chatBox {
  font-family:Arial;
  font-size:.8em;
  height:430px;
  width:90%;
  padding:4px;
  margin:auto;
  margin-top:15px;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:#E8E8E8;
}

#sendMessageBox {
  height:50px;
  width:90%;
  margin:auto;
  margin-top:15px;
}

#sendMessageBox input {
  height:31px;
  width:50%;
  font-size:1.15em;
}

#sendMessageBox input[type="button"] {
  display:inline-block;
  width:45%;
  float:right;
  height:35px;
  border-radius:0;
  color:white;
  background-color:blue;
}

#sendMessageBox input[type="button"]:hover {
  cursor:pointer;
}

/**   Board Styling    **/

#boardWrapper {
  display:inline-block;
  max-width:575px;
}

#board {
  font-family:"MONOPOLY_INLINE";
  text-align:center;
  width:100%;
  display:grid;
  grid-template-columns: 75px 45px 45px 45px 45px 45px 45px 45px 45px 45px 75px;
  grid-template-rows: 75px 45px 45px 45px 45px 45px 45px 45px 45px 45px 75px;
  grid-gap:0px;
  grid-template-areas: "cornerTile tile tile tile tile tile tile tile tile tile cornerTile"
                        "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"

                        "tile nonTile nonTile nonTile buttonTile buttonTile buttonTile nonTile nonTile nonTile nonTile tile"

                        "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"

                        "tile nonTile nonTile displayTile displayTile displayTile displayTile displayTile nonTile nonTile nonTile tile"
                        "tile nonTile nonTile displayTile displayTile displayTile displayTile displayTile nonTile nonTile nonTile tile"
                        "tile nonTile nonTile displayTile displayTile displayTile displayTile displayTile nonTile nonTile nonTile tile"

                        "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"
                        "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"
                        "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"
                       "cornerTile tile tile tile tile tile tile tile tile tile cornerTile";
}

    .northPropertyTile {
      display:grid;
      grid-template-rows:75% 25%;
      grid-template-columns:100%;
      grid-template-areas:"empty" "color";
      border:1px solid black;
      background-color:white;
    }
    .eastPropertyTile {
      display:grid;
      grid-template-columns:25% 75%;
      grid-template-rows:100%;
      grid-template-areas:"color" "empty";
      background-color:white;
    }
    .southPropertyTile {
      display:grid;
      grid-template-rows:25% 75%;
      grid-template-columns:100%;
      grid-template-areas:"color" "empty";
      background-color:white;
    }
    .westPropertyTile {
      display:grid;
      grid-template-columns:75% 25%;
      grid-template-rows:100%;
      grid-template-areas:"empty" "color";
      background-color:white;
    }
    .cornerTile {
      border:1px solid black;
      text-align:center;
    }
    .nonTile {
      background-color:skyblue;
    }


    /**   Railroad Space Styles   **/
    .railroadNorthTile {
      background-color: white;
      display:grid;
      grid-template-rows:10% 40% 40% 10%;
      grid-template-columns:100%;
      grid-template-areas:"margin" "image" "text" "margin";
    }
    .railroadNorthTile .text {
      transform:rotate(180deg);
    }
    .railroadSouthTile {
      background-color: white;
      display:grid;
      grid-template-rows:10% 40% 40% 10%;
      grid-template-columns:100%;
      grid-template-areas:"margin" "text" "image" "margin";
    }
    .railroadWestTile {
      background-color: white;
      display:grid;
      grid-template-columns:10% 40% 40% 10%;
      grid-template-rows:100%;
      grid-template-areas:"margin image text margin";
    }
    .railroadWestTile .text {
      transform:rotate(90deg);
    }
    .railroadEastTile {
      background-color: white;
      display:grid;
      grid-template-columns:10% 40% 40% 10%;
      grid-template-rows:100%;
      grid-template-areas:"margin text image margin";
    }
    .railroadEastTile .text {
      transform:rotate(270deg);
    }


    .northTile, .northPropertyTile {
      border:1px solid black;
      border-width:1px 1px 1px 0;
    }
    .eastTile, .eastPropertyTile {
      border:1px solid black;
      border-width:0 1px 1px 1px;
    }
    .southTile, .southPropertyTile {
      border:1px solid black;
      border-width:1px 0 1px 1px;
    }
    .westTile, .westPropertyTile {
      border:1px solid black;
      border-width:1px 1px 0 1px;
    }
    .tile:hover, .cornerTile:hover {
      border:2px solid yellow;
      cursor:pointer;
      transform:translate(4px, -4px);
      box-shadow:-5px 5px 0 0 dimgray;
    }


/**   When the mouse hovers over player panels:    **/
/**   Or when you hover over player panel to see what is owned:   **/

    .playerOnePropertiesStyles {
      border:2px solid red;
      transform:translate(4px, -4px);
      box-shadow:-5px 5px 0 0 dimgray;
      z-index:2;
    }

    .playerTwoPropertiesStyles {
      border:2px solid blue;
      transform:translate(4px, -4px);
      box-shadow:-5px 5px 0 0 dimgray;
      z-index:2;
    }


/**   Text transforms for property tiles   **/

    .southPropertyTile .empty {
      padding-top:0;
      font-size:.3em;
      text-transform:uppercase;
    }
    .eastPropertyTile .empty {
      transform: rotate(270deg);
      font-size:.3em;
      text-transform:uppercase;
    }
    .westPropertyTile .empty {
      transform: rotate(90deg);
      font-size:.3em;
      text-transform:uppercase;
    }
    .northPropertyTile .empty {
      transform: rotate(180deg);
      font-size:.3em;
      text-transform:uppercase;
    }

    #rollButton {
      width:325%;
      height:110%;
      transform:translateX(-50px);
      font-size:2em;
    }

/****   Drop Down Pane Styles:   ****/

   #dropDownPane {
     width:600px;
     height:240px;
     margin:auto;
     padding:15px;
     background-color:#85bb65;
     border:2px solid black;
     border-radius:10px;
     position:absolute;
     transform:translate(0px, -550px);
     z-index:2;
   }
   #dropDownPaneContent {
     background-color:white;
     height:88%;
     border-radius:10px;
     padding:15px;
   }
   #dropDownPane button {
     width:100px;
     height:30px;
     margin:5px;
   }
   .dropDown {
     animation-name:dropDownDiv;
     animation-duration:.6s;
     animation-timing-function:ease-in;
     animation-iteration-count:1;
     animation-fill-mode:forwards;
   }
   @keyframes dropDownDiv {
     from { transform:translate(325px, -550px); }
     to { transform:translate(325px, 150px); }
   }
   .goUp {
     animation-name:goUpDiv;
     animation-duration:.6s;
     animation-timing-function: ease-in;
     animation-iteration-count:1;
     animation-fill-mode:forwards;
   }
   @keyframes goUpDiv {
     from { transform:translate(325px, 150px); }
     to { transform:translate(325px, -550px); }
   }


/****   Displayed card styles:   ****/

    #displayedCard {
      display:none;
      width:70px;
      height:115px;
      border:1px solid black;
      font-size:2.3em;
      transform:translate(8px, 8px);
      grid-template-rows:25% 75%;
      grid-template-columns:100%;
      grid-template-areas:"displayedCard-color" "displayedCard-empty";
      background-color:white;
    }
    #displayedCard-color {
      border-bottom:1px solid black;
    }
    #displayedCard-empty {
      padding-top:0;
      font-size:.3em;
      text-transform:uppercase;
    }
    #ownerStatusFromDisplayCard {
      background-color:#85bb65;
      color:white;
      display:none;
      padding:3px;
      min-width:120px;
      transform:translateY(28px);
    }
    #valueStatusFromDisplayCard {
      background-color:#85bb65;
      color:white;
      display:none;
      padding:3px;
      min-width:120px;
      transform:translateY(12px);
    }
    #tradeButton, #buyHousesButton, #mortgageButton {
      font-family:MONOPOLY_INLINE;
      width:100px;
      height:50px;
      font-size:1.1em;
    }
    #mortgageButton {
      transform:translate(-48px, -24px);
    }
    #tradeButton {
      transform:translate(-24px, -24px);
    }
    #buyHousesButton {
      transform:translate(0px, -24px);
    }

/****      Dice Styles      ****/

    #dice_alpha, #dice_beta {
      display:none;
      width:50px;
      height:50px;
      background-color:white;
      border:2px solid black;
      display:none;
      box-shadow: 5px 5px darkgray;
    }
    #dice_alpha {
      transform:translate(0, 8px);
    }
    #dice_beta {
      transform:translate(22px, 8px);
    }
    #pip_alpha_one, #pip_alpha_two, #pip_alpha_three, #pip_alpha_four, #pip_alpha_five, #pip_alpha_six,
    #pip_beta_one, #pip_beta_two, #pip_beta_three, #pip_beta_four, #pip_beta_five, #pip_beta_six {
      background-color:black;
      width:8px;
      height:8px;
      border-radius:4px;
      position:absolute;
    }
    /* Dice Roll of One: */
    #pip_alpha_one { transform:translate(20px, 20px); }
    #pip_alpha_two { display:none; }
    #pip_alpha_three { display:none; }
    #pip_alpha_four { display:none; }
    #pip_alpha_five { display:none; }
    #pip_alpha_six { display:none; }

    #pip_beta_one { transform:translate(20px, 20px); }
    #pip_beta_two { display:none; }
    #pip_beta_three { display:none; }
    #pip_beta_four { display:none; }
    #pip_beta_five { display:none; }
    #pip_beta_six { display:none; }

/**   Control Panel Styling   **/

  #controlPanel {
    font-family:MONOPOLY_INLINE, sans-serif, monospace;
    min-width:100%;
    /*
    max-width:300px;
    */
    min-height:535px;
    /* height:100%; */
    border:1px solid black;
    display:inline-block;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:50% 50%;
    grid-template-areas: "playerPanel" "playerPanel";
  }
  #controlPanel p {
    margin-top:5px;
    margin-left:5px;
  }
  .playerPanel {
    max-width:100%;
  }
  .playerPanel h2 {
    color:white;
    background-color:#85bb65;
    width:100%;
    /*padding:5px;*/
  }
  #playerOnePanel:hover {
    border:2px solid red;
    cursor: pointer;
  }
  #playerTwoPanel:hover {
    border:2px solid blue;
    cursor: pointer;
  }

/**   Miscellaneous Styling   **/
  img {
    width:100%;
    height:100%;
  }

  button {
    border-radius:5px;
    font-size:1.2em;
  }

  button:hover {
    cursor:pointer;
    background-color:lightgray;
  }


  /*    Footer Styling    */
  footer {
    font-family:MONOPOLY_INLINE;
    width:100%;
    height:100px;
    background-color:#85bb65;
    color:white;
    text-align:center;
    line-height:100px;
    font-size:2em;
    margin-top:45px;
  }
