/*      main.css      */

* { margin: 0; padding: 0; }

/**   Header Styling   **/
header {
  width:100%;
  background-color:#85bb65;
  color:white;
  height:100px;
  margin-bottom:45px;
  text-align:center;
  font-family:sans-serif;
  font-family:MONOPOLY_INLINE;
}
h1 {
  line-height:100px;
  font-size:3em;
}

/**   Content Styling  **/
main {
  width:80%;
  max-width:975px;
  margin:auto;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 15px;
  */
}

@font-face {
  font-family: MONOPOLY_INLINE;
  src: url(./MONOPOLY_INLINE.ttf);
}



/**   Board Styling    **/

#boardWrapper {
  display:inline-block;
  max-width:575px;
}

    #board {
      font-family:"MONOPOLY_INLINE";
      text-align:center;
      width:100%;
      display:grid;
      grid-template-columns: 75px 45px 45px 45px 45px 45px 45px 45px 45px 45px 75px;
      grid-template-rows: 75px 45px 45px 45px 45px 45px 45px 45px 45px 45px 75px;
      grid-gap:0px;
      grid-template-areas: "cornerTile tile tile tile tile tile tile tile tile tile cornerTile"
                            "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"

                            "tile nonTile nonTile nonTile buttonTile buttonTile buttonTile nonTile nonTile nonTile nonTile tile"

                            "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"

                            "tile nonTile nonTile displayTile displayTile displayTile displayTile displayTile nonTile nonTile nonTile tile"
                            "tile nonTile nonTile displayTile displayTile displayTile displayTile displayTile nonTile nonTile nonTile tile"
                            "tile nonTile nonTile displayTile displayTile displayTile displayTile displayTile nonTile nonTile nonTile tile"

                            "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"
                            "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"
                            "tile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile nonTile tile"
                           "cornerTile tile tile tile tile tile tile tile tile tile cornerTile";
    }

    .northPropertyTile {
      display:grid;
      grid-template-rows:75% 25%;
      grid-template-columns:100%;
      grid-template-areas:"empty" "color";
      border:1px solid black;
      background-color:white;
    }
    .eastPropertyTile {
      display:grid;
      grid-template-columns:25% 75%;
      grid-template-rows:100%;
      grid-template-areas:"color" "empty";
      background-color:white;
    }
    .southPropertyTile {
      display:grid;
      grid-template-rows:25% 75%;
      grid-template-columns:100%;
      grid-template-areas:"color" "empty";
      background-color:white;
    }
    .westPropertyTile {
      display:grid;
      grid-template-columns:75% 25%;
      grid-template-rows:100%;
      grid-template-areas:"empty" "color";
      background-color:white;
    }
    .cornerTile {
      border:1px solid black;
      text-align:center;
    }
    .nonTile {
      background-color:skyblue;
    }


    .northTile, .northPropertyTile {
      border:1px solid black;
      border-width:1px 1px 1px 0;
    }
    .eastTile, .eastPropertyTile {
      border:1px solid black;
      border-width:0 1px 1px 1px;
    }
    .southTile, .southPropertyTile {
      border:1px solid black;
      border-width:1px 0 1px 1px;
    }
    .westTile, .westPropertyTile {
      border:1px solid black;
      border-width:1px 1px 0 1px;
    }
    .tile:hover, .cornerTile:hover {
      border:2px solid yellow;
      cursor:pointer;
      transform:translate(4px, -4px);
      box-shadow:-5px 5px 0 0 dimgray;
    }


/**   When the mouse hovers over player panels:    **/
/**   Or when you hover over player panel to see what is owned:   **/

    .playerOnePropertiesStyles {
      border:2px solid red;
      transform:translate(4px, -4px);
      box-shadow:-5px 5px 0 0 dimgray;
      z-index:2;
    }

    .playerTwoPropertiesStyles {
      border:2px solid blue;
      transform:translate(4px, -4px);
      box-shadow:-5px 5px 0 0 dimgray;
      z-index:2;
    }


/**   Text transforms for property tiles   **/
    .southPropertyTile .empty {
      padding-top:0;
      font-size:.3em;
      text-transform:uppercase;
    }
    .eastPropertyTile .empty {
      transform: rotate(270deg);
      font-size:.3em;
      text-transform:uppercase;
    }
    .westPropertyTile .empty {
      transform: rotate(90deg);
      font-size:.3em;
      text-transform:uppercase;

    }
    .northPropertyTile .empty {
      transform: rotate(180deg);
      font-size:.3em;
      text-transform:uppercase;
    }


/**   Control Panel Styling   **/


  #controlPanel {
    font-family:MONOPOLY_INLINE, sans-serif, monospace;
    max-width:400px;
    min-height:535px;
    height:100%;
    border:1px solid black;
    display:inline-block;
    display:grid;
    grid-template-columns: 400px;
    grid-template-rows:50% 50%;
    grid-template-areas: "playerPanel" "playerPanel";
  }

  #controlPanel p {
    margin-top:5px;
    margin-left:5px;
  }

  .playerPanel {
    max-width:100%;
  }

  .playerPanel h2 {
    color:white;
    background-color:#85bb65;
    max-width:100%;
    padding:5px;
  }

  #playerOnePanel:hover {
    border:2px solid red;
  }

  #playerTwoPanel:hover {
    border:2px solid blue;
  }



/**   Miscellaneous Styling   **/
  img {
    width:100%;
    height:100%;
  }

  button {
    border-radius:5px;
    font-size:1.2em;
  }

  button:hover {
    cursor:pointer;
    background-color:lightgray;
  }

  #displayedCard {
    display:none;
    width:45px;
    height:75px;
    border:1px solid black;
    transform:translate(12px, 8px);
  }

  /*    Footer Styling    */
  footer {
    font-family:MONOPOLY_INLINE;
    width:100%;
    height:100px;
    background-color:#85bb65;
    color:white;
    text-align:center;
    line-height:100px;
    font-size:2em;
    margin-top:45px;
  }
